@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

header {
    padding: 240px;

}

.first-btn {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    border: 0;
    color: #3C354F;
    text-align: center;

    font-size: 18px;

    font-weight: 500;
    /* padding: 10px; */
    width: 262px;
    height: 56px;
    flex-shrink: 0;
    padding-top: 17px;
    padding-bottom: 37px;
    padding-right: 50px;

    margin-top: 40px;


}

.sp-1 {
    color: #FF42A5;
}

.section-title {
    color: #0B0223;

    font-size: 45px;
    /* padding-top: 30px; */
    font-weight: 700;
    /* padding: 0px 1426px 0px 0px; */
    padding-top: 5px;
    padding-bottom: 30px;
}

.name {
    display: flex;
    text-align: center;

    justify-content: space-between;


}

.name img {
    width: 86.041px;
    height: 40px;
    flex-shrink: 0;
    margin-top: 55px;
    margin-left: 80px;



    /* padding: 52px 0px 46px 240px; */
    /* margin-right: 20px; */
}

nav {
    display: flex;
    justify-content: space-between;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);

}

nav>ul {
    display: flex;
    gap: 32px;
    list-style: none;
    margin-right: 32px;



}

nav li {
    padding-top: 15px;
    margin-top: 40px;
}

nav li a {
    text-decoration: none;
    color: #424242;


}

.ban-title {
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;

    font-weight: 600;
    text-transform: uppercase;
    text-align: left;

}

.goat {
    text-align: center;
    font-family: Work Sans;
    font-size: 95px;

    font-weight: 800;

    text-transform: uppercase;

    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}

.second-btn {
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;

    font-weight: 600;
    border-radius: 48px;
    text-transform: uppercase;
    background: #FF42A5;
    border: 0;
    padding: 20px 40px;
}

.third-btn {
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;

    font-weight: 600;
    border-radius: 48px;
    text-transform: uppercase;
    background: #4EC5F7;
    border: 0;
    padding: 20px 40px;
}

.banner {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.banner-content {}

.sp-2 {
    color: #534C64;

    font-size: 32px;

    font-weight: 700;
    line-height: 45px;
}

.purpose {
    color: #534C64;
    text-align: right;

    font-size: 24px;

    font-weight: 500;
    line-height: 45px;
    /* 187.5% */
}

.big-para {
    color: #534C64;
    text-align: right;

    font-size: 18px;

    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.sec-1 {
    width: 1920px;
    height: 600px;
    flex-shrink: 0;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
}

.we {
    text-align: right;

    font-size: 48px;

    font-weight: 700;

    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.part-3 {
    display: flex;
    margin-left: 140px;
    margin-right: 240px;
}

/* .part-3-1 {
    /* margin-right: 240px; */

.play {
    text-align: right;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    /* 125% */
}

.sp-3 {
    text-align: right;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    /* 125% */

    background: linear-gradient(180deg, #ec33a8 0%, #f672f4 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-para {
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 4px;
    margin-left: 150px;
}

.sec-4 {
    display: flex;
    justify-content: space-evenly;
}

.images {

    margin-right: 200px;
    margin-top: 90px;
}

#small {
    position: relative;
    bottom: 300px;
    right: 150px;
}

.relative {
    margin-right: 300px;
    margin-left: 200px;
    margin-top: 90px;
}